<!-- Sección de Certificados -->
<section id="certificates-section" class="content-section">
    <h2 class="section-title">Cursos y Certificados</h2>
    <div class="carousel">
        <div class="carousel-slide">
            <a href="assets/css/images/CertificadoAngular.png" data-lightbox="certificados" data-title="Certificado Angular">
                <img src="assets/css/images/CertificadoAngular.png" alt="Certificado Angular">
            </a>
            <p class="certificate-title">Certificado Angular</p>
        </div>
        <div class="carousel-slide">
            <a href="assets/css/images/Certificado DiseñoWebHtmlYCss.png" data-lightbox="certificados" data-title="Certificado Diseño Web en HTML Y CSS">
                <img src="assets/css/images/Certificado DiseñoWebHtmlYCss.png" alt="Certificado 2">
            </a>
            <p class="certificate-title">Certificado Diseño Web en HTML Y CSS</p>
        </div>
        <div class="carousel-slide">
            <a href="assets/css/images/CertificadoAWS.png" data-lightbox="certificados" data-title="Certificado Amazon Web Services(AWS)">
                <img src="assets/css/images/CertificadoAWS.png" alt="Certificado 3">
            </a>
            <p class="certificate-title">Certificado Amazon Web Services(AWS)</p>
        </div>
        <div class="carousel-slide">
            <a href="assets/css/images/CertificadoJavaScrtp.png" data-lightbox="certificados" data-title="Certificado JavaScript">
                <img src="assets/css/images/CertificadoJavaScrtp.png" alt="Certificado 4">
            </a>
            <p class="certificate-title">Certificado JavaScript</p>
        </div>
        <div class="carousel-slide">
            <a href="assets/css/images/CertificadoPythonYShell.png" data-lightbox="certificados" data-title="Certificado Introducción a python y shell scripting">
                <img src="assets/css/images/CertificadoPythonYShell.png" alt="Certificado 5">
            </a>
            <p class="certificate-title">Certificado Introducción a python y shell scripting</p>
        </div>
        <div class="carousel-slide">
            <a href="assets/css/images/colombo.jpeg" data-lightbox="certificados" data-title="Certificado Colombo">
                <img src="assets/css/images/colombo.jpeg" alt="Certificado 6">
            </a>
            <p class="certificate-title">Certificado CENTRO COLOMBO AMERICANO </p>
            <p class="certificate-title">Avanzado B2</p>
        </div>
        <!-- Repite para los demás certificados -->
    </div>
</section>