<section id="habilidades" class="content-section">
    <h2>Habilidades</h2>
    <div class="skills-container">
        <div class="skill-grid">
            <div class="skill-card">
                <img src="assets/css/images/ANGULAR.png" alt="Angular">
            </div>
            <div class="skill-card">
                <img src="assets/css/images/HTML.png" alt="HTML">
            </div>
            <div class="skill-card">
                <img src="assets/css/images/CSS.png" alt="CSS">
            </div>
            <div class="skill-card">
                <img src="assets/css/images/JS.png" alt="JavaScript">
            </div>
            <div class="skill-card">
                <img src="assets/css/images/MYSQL.png" alt="MySQL">
            </div>
            <div class="skill-card">
               <img src="assets/css/images/PYTHON.png" alt="Python">
           </div>
             <div class="skill-card">
                <img src="assets/css/images/NODEJS.png" alt="Node.js">
            </div>
            <div class="skill-card">
                <img src="assets/css/images/GITHUB.png" alt="GitHub">
            </div>
           <div class="skill-card">
                <img src="assets/css/images/GITLAB.png" alt="GitLab">
            </div>
            <div class="skill-card">
                <img src="assets/css/images/POSTGRESS.png" alt="PostgreSQL">
            </div>
            <div class="skill-card">
                 <img src="assets/css/images/SCRUM.png" alt="Scrum">
             </div>
             <div class="skill-card">
                 <img src="assets/css/images/CISCO.png" alt="Cisco Packet Tracer">
             </div>
              <div class="skill-card">
                 <img src="assets/css/images/AWS.png" alt="AWS">
             </div>
              <div class="skill-card">
                 <img src="assets/css/images/AZURE.png" alt="Azure">
             </div>
        </div>
    </div>
</section>