<header>
    <div class="header-container">
        <div class="profile-banner">
            <div class="profile-container">
                <img src="assets/css/images/MIFoto2.0.png" alt="Foto de Edwin Camilo Valencia Bustamante"
                    class="profile-photo">
            </div>
            <h1 class="split-text-container" data-text="Edwin Camilo Valencia Bustamante">Edwin Camilo Valencia Bustamante</h1>
            <h3>Ingeniero de sistemas y telecomunicaciones</h3>
        </div>       
    </div>
</header>
<div class="about-section">
    <div class="about-info">
        <h2 class="about-title">Sobre mi</h2>
        <p class="about-greeting">Hola 👋</p>
        <p class="about-description"></p>
            Mi nombre es Edwin Camilo Valencia Bustamante, soy ingeniero de sistemas y
            telecomunicaciones, y disfruto transformar ideas en soluciones prácticas a
            través de la tecnología.
            <div class="header-actions">
                <a href="#" class="btn-hover-effect">Descargar CV</a>
               <a href="#" class="social-link"><i class="fab fa-github"></i></a>
               <a href="#" class="social-link"><i class="fab fa-linkedin"></i></a>
          </div>
        </p>
    </div>
</div>
