<header>
    <div class="header-container">
        <div class="profile-banner">
            <div class="profile-container">
                <img src="assets/css/images/MIFoto2.0.png" alt="Foto de Edwin Camilo Valencia Bustamante"
                    class="profile-photo">
            </div>
            <h1 class="split-text-container" data-text="Edwin Camilo Valencia Bustamante">Edwin Camilo Valencia Bustamante</h1>
            <h3>Ingeniero de sistemas y telecomunicaciones</h3>
        </div>
        <div class="atom-container">
            <div class="atom">
                <div class="center"></div>
                <div class="orbit orbit1">
                    <div class="electron electron1"></div>
                </div>
                <div class="orbit orbit2">
                    <div class="electron electron2"></div>
                </div>
                <div class="orbit orbit3">
                    <div class="electron electron3"></div>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="about-section">
    <div class="about-info">
        <h2 class="about-title">Sobre mi</h2>
        <p class="about-greeting">Hola 👋</p>
        <p class="about-description">
            Mi nombre es Edwin Camilo Valencia Bustamante, soy ingeniero de sistemas y
            telecomunicaciones, y disfruto transformar ideas en soluciones prácticas a
            través de la tecnología.
            <div class="header-actions">
                <a href="cv/cvEdwinCamiloValenciaBustamante.pdf" class="btn-hover-effect" download>Descargar CV</a>
                <a href="https://github.com/Edwincamilovalencia" class="social-link"><i class="fab fa-github"></i></a>
                <a href="https://www.linkedin.com/in/edwin-valencia-819b80250/" class="social-link"><i class="fab fa-linkedin"></i></a>
            </div>
        </p>
    </div>
</div>
