<div class="branding">
    <h1>Mi portafolio</h1>
    <img src="assets/images/miFoto.png" alt="Foto de Edwin Camilo Valencia Bustamante" class="profile-photo">
    <h3>Edwin Camilo Valencia Bustamante</h3>
    <p>Ingeniero de sistemas y telecomunicaciones</p>
    <div>
        <a href="cv/CV-EDWIN-VALENCIA2024-2.pdf" download="Edwin_Camilo_Valencia_Bustamante_CV.pdf" class="download-cv">Descargar CV</a>
    </div>
    <div class="social-links">
        <a href="https://github.com/Edwincamilovalencia" target="_blank" class="social-link"><i class="fab fa-github"></i></a>
        <a href="https://www.linkedin.com/in/edwin-valencia-819b80250/" target="_blank" class="social-link"><i class="fab fa-linkedin"></i></a>
    </div>
</div>
