<div id="modal-curso1" class="modal">
    <div class="modal-content">
        <span class="close-modal">×</span>
        <h2>Certificado Angular. Certifica Opened</h2>
        <img src="assets/css/images/CertificadoAngular.png" alt="Certificado del Curso 1" style="max-width: 100%; height: auto;">
    </div>
</div>

<div id="modal-curso2" class="modal">
    <div class="modal-content">
        <span class="close-modal">×</span>
        <h2>Certificado AWS. Certifica: Opened</h2>
        <img src="assets/css/images/CertificadoAWS.png" alt="Certificado del Curso 2" style="max-width: 100%; height: auto;">
    </div>
</div>

<div id="modal-curso3" class="modal">
    <div class="modal-content">
        <span class="close-modal">×</span>
        <h2>Certificado Introduccion a python y shell scripting. Certifica: Opened</h2>
        <img src="assets/css/images/CertificadoPythonYShell.png" alt="Certificado del Curso 3" style="max-width: 100%; height: auto;">
    </div>
</div>

<div id="modal-curso4" class="modal">
    <div class="modal-content">
        <span class="close-modal">×</span>
        <h2>Certificado JavaScript. Certifica: Opened</h2>
        <img src="assets/css/images/CertificadoJavaScrtp.png" alt="Certificado del Curso 4" style="max-width: 100%; height: auto;">
    </div>
</div>

<div id="modal-curso5" class="modal">
    <div class="modal-content">
        <span class="close-modal">×</span>
        <h2>Certificado Diseño web en HTML Y CSS. Certifica: Opened</h2>
        <img src="assets/css/images/Certificado DiseñoWebHtmlYCss.png" alt="Certificado del Curso 5" style="max-width: 100%; height: auto;">
    </div>
</div>