<section id="proyectos" class="content-section">
    <h2>Proyectos</h2>
    <div class="project-grid">
        <!-- Project 1 - Dashboard Extranjeros Colombia -->
        <article class="project-item featured">
            <div class="project-content">
                <img src="assets/css/images/imgDashboard.png" alt="Dashboard Extranjeros Colombia">
                <h3>Dashboard Extranjeros Colombia</h3>
                <p>Dashboard interactivo con Power BI, automatizado con Power Automate y
                    complementado con JavaScript, HTML, CSS y Bootstrap.</p>
                <div class="project-actions">
                    <a href="https://dashboardextranjeroscol.netlify.app/" target="_blank"
                       class="btn-hover-effect">Ver Proyecto</a>
                </div>
            </div>
        </article>
        <!-- Project 2 -->
        <article class="project-item">
            <div class="project-item-content">
                <img src="assets/css/images/2proyecto.png" alt="Proyecto 2">
                <h3>Creación Portafolio</h3>
                <p>Portafolio profesional creado con HTML, CSS, JavaScript.</p>
                <div class="project-actions">
                    <a href="link-al-proyecto1" target="_blank" class="btn-hover-effect">Ver
                        Proyecto</a>
                </div>
            </div>
        </article>
    </div>
</section>